:root{
    --black: rgb(3, 3, 3);
    --white: rgb(255,255,255);
    --bg: rgb(8, 8, 8);
}


.main__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    position: relative;

    font-family: "Poppins", sans-serif;

    &.darkmode{
        --black: rgb(255, 255, 255);
        --white: rgb(3, 3, 3);
        --bg: rgb(255, 255, 255);
    }

}

.gallery__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 0;

  &:hover .img__wrapper {
    max-height: 5vh;
  }

  .download__image{
    visibility: hidden;
    position: absolute;
    left: 5px;
    bottom: 5px;

    svg{
        fill: var(--white);
    }
  }

  .img__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 7.5vh;
    overflow: hidden;
    transition: max-height 0.3s ease;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    &:hover {
      max-height: 60vh;
    }

    &:hover {
      max-height: 60vh !important;
    }
  }
}



//fullscreen image

.fullscreen__image{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    background: rgba(216, 216, 216, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    overflow: hidden;
    z-index: 999;

    &.active{
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.3s ease;
    }

    img{
        object-fit: contain;
        height: 100vh;
        width: auto;
    }

    .svg__wrapper{
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        padding: 10px;
        border-radius: 50px;
        transition: background 0.2s ease;

        svg{
            width: 30px;
            height: 30px;
            fill: var(--white);
        }

        &:hover{
            background: rgb(134, 134, 134);
        }
    }
}

// menu

.menu__bar{
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    padding: 10px 10px;
    border-radius: 50px;
    background-color: oklch(92.494% 0.00011 271.152 / 0.4);
    border: 1px solid oklch(100% 0.00011 271.152 / 0.7);
    display: flex;
    flex-direction: column-reverse;

    &.darkmode{
        background-color: oklch(40% 0.00011 271.152 / 0.6); /* darker translucent background */
        border: 1px solid oklch(70% 0.00011 271.152 / 0.9);
    }

    .inventory{
        display: flex;
        gap: 10px;

        li{
            border: 1px solid transparent;
            width: auto;
            transition: all 0.3s ease;
            border-radius: 50px;

            svg{
                fill: white;
                padding: 5px;
                border-radius: 50px;
                border: 1px solid transparent;
                width: 30px;
                height: auto;
                cursor: pointer;
            }

            &:not(.active) svg:hover{
                    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
                    border: 1px solid oklch(100% 0.00011 271.152 / 0.7);
            }

            &.active{
                width: 100px;
                background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid oklch(100% 0.00011 271.152 / 0.7);
                cursor: pointer;
            }
        }
    }

    .expanded__inventory{
        width: 200%;
        position: relative;
        transform: translateX(-25%);

        .expanded__settings{
            background-color: oklch(92.494% 0.00011 271.152 / 0.4);
            border: 1px solid oklch(100% 0.00011 271.152 / 0.7);
            position: absolute;
            bottom: 30px;
            padding: 10px 20px;
            left: 0;
            height: auto;
            width: 100%;
            border-radius: 10px;
            transform: translateY(10px);
            opacity: 0;
            transition: all 0.3s ease;

            font-size: 0.8rem;
            color: var(--white);

            &.active{
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}

//logo

.logo{
    visibility: hidden;
    position: fixed;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;

    transition: all 0.7s ease;

    svg{
        fill: var(--white);
        height: 100%;
        width: auto;
    }

    &.loaded{
        bottom: -20px;
        left: 60px;
        height: 80px;
        width: 80px;
    }
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.144);
    backdrop-filter: blur(10px);
    z-index: 10000;
    opacity: 1;
    transition: all 0.3s;

    &.loaded{
        opacity: 0;
        pointer-events: none;
    }
}

// darkmode

.darkmode__wrapper{
    position: absolute;
    bottom: 3vh;
    right: 3vh;
    z-index: 20;
    cursor: pointer;

    .btn__wrapper{
        display: grid;
        place-content: center;
        border: 1px solid oklch(100% 0.00011 271.152 / 0.7);
        border-radius: 50px;
        width: 40px;
        height: auto;
        padding: 20px;

        background: url('../media/sun.svg') no-repeat 50% 50% oklch(92.494% 0.00011 271.152 / 0.4);
        background-size: 50%;
        transition: all 0.3s ease;

        &:hover{
            transform: rotate(45deg);
        }

        &.darkmode{
            background: url('../media/moon.svg') no-repeat 50% 50% oklch(40% 0.00011 271.152 / 0.6);
            background-size: 50%;
            border: 1px solid oklch(70% 0.00011 271.152 / 0.9);
        }
    }
}