:root {
  --black: rgb(3, 3, 3);
  --white: rgb(255,255,255);
  --bg: rgb(8, 8, 8);
}

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
  position: relative;
}

.gallery__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}
.gallery__wrapper:hover .img__wrapper {
  max-height: 5vh;
}
.gallery__wrapper .download__image {
  visibility: hidden;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
.gallery__wrapper .download__image svg {
  fill: var(--white);
}
.gallery__wrapper .img__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 7.5vh;
  overflow: hidden;
  transition: max-height 0.3s ease;
  position: relative;
}
.gallery__wrapper .img__wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.gallery__wrapper .img__wrapper:hover {
  max-height: 60vh;
}
.gallery__wrapper .img__wrapper:hover {
  max-height: 60vh !important;
}

.fullscreen__image {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  background: rgba(216, 216, 216, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  overflow: hidden;
  z-index: 999;
}
.fullscreen__image.active {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease;
}
.fullscreen__image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100vh;
  width: auto;
}
.fullscreen__image .svg__wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  transition: background 0.2s ease;
}
.fullscreen__image .svg__wrapper svg {
  width: 30px;
  height: 30px;
  fill: var(--white);
}
.fullscreen__image .svg__wrapper:hover {
  background: rgb(134, 134, 134);
}

.menu__bar {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding: 10px 10px;
  border-radius: 50px;
  background-color: oklch(92.494% 0.00011 271.152/0.4);
  border: 1px solid oklch(100% 0.00011 271.152/0.7);
}
.menu__bar .inventory {
  display: flex;
  gap: 10px;
}
.menu__bar .inventory li {
  border: 1px solid transparent;
}
.menu__bar .inventory li svg {
  fill: white;
  padding: 5px;
  border-radius: 50px;
  border: 1px solid transparent;
  width: 30px;
  height: auto;
  cursor: pointer;
}
.menu__bar .inventory li:not(.active) svg:hover {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  border: 1px solid oklch(100% 0.00011 271.152/0.7);
}
.menu__bar .inventory li.active {
  width: 100px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid oklch(100% 0.00011 271.152/0.7);
}/*# sourceMappingURL=styles.css.map */